---
layout: default-about
---

<div class="row">
    <div class="col-md-12 nav">
                        
                <div class="menu"><a href="/aboutme/">About Me</a></div>
                <div class="menu"><a href="/aboutme/projects.html">Projects</a></div>
                <div class="menu"><a href="/aboutme/publications.html">Publications</a></div>
                <div class="menu"><a href="/aboutme/teaching.html">Teaching</a></div>
                <div class="menu"><a href="/aboutme/miscellaneous.html">Miscellaneous </a></div>
                <div class="menu"><a href="/aboutme/contact.html">Contact</a></div>                
    </div>
</div>


<div class="col-md-12" style="border:8px solid rgb(42, 55, 42); text-align:justify; background-color:#fff;">
     {{content}}
 </div>